BODY { scrollbar-face-color: #00CCFF;
       scrollbar-highlight-color: #00CCFF; scrollbar-shadow-color: #3399CC;
       scrollbar-3dlight-color: #OOOOOO scrollbar-arrow-color: #OOOOOO;
       scrollbar-track-color: #3399CC; scrollbar-darkshadow-color: #3399CC;
     }