body {
 margin:10px 10px 0px 10px;
 padding:0px;
 background:#ddd;
}

A {text-decoration:none}
A:link,A:visited {text-decoration: none; color: #00CCFF}
A:active {text-decoration: none; color: #F4B359}
A:hover {text-decoration: none; color: #FF0000}

input { color: #FFFFFF;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 8pt;
        margin-top: 0px;margin-bottom: 0px ; border: 1px #666666 groove;
        background-color: #780000;
        list-style-type: circle;
        }

textarea       { font-size: 8pt; font-family: Verdana, Arial, Helvetica, sans-serif; background-color: #780000;
                 border: 1px #666666 groove; color: #FFFFFF;
                 }

select      { border-style : solid ; background-color: #3399CC ; color: #FFFFFF ; border-width: 1px ;
              border-color: #B4C2CA ; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt;
              }

a, p, .htext {
 color: #0099FF;
 font-family: Verdana, Arial, Helvetica, sans-serif;
 }
.text {
 color: #FFF;
 font-size: 10px;
 font-family: Verdana, Arial, Helvetica, sans-serif;
 }

#main {
 z-index: 2;
 }
#menu {
 z-index: 3;
 }

#menu {
 position: absolute;
 width:150px;
 background:url(/design/titlebar.png) no-repeat top left;
 background-color:#FFF;
 border:1px solid #000;
 left:40px;
 top:30px;
 text-align:center;
 }

#title, #copyright, #maincenter {
 background-color:#FFF;
 }
#title {
 background:url(design/logo.jpg) no-repeat top left;
 border:1px solid #000;
 left:0px;
 width:680px;
 height:100px;
 }
#maincenter {
 margin-left: 200px;
 margin-right:10px;
 }
#copyright {
 text-align: center;
 margin-left: 200px;
 margin-right:10px;
 }
#copyright, #maincenter {
 border-top:1px solid #000;
 border-right:1px solid #000;
 border-left:1px solid #000;
 voice-family: "\"}\"";
 voice-family: inherit;
 }

#copyright {
 border-bottom:1px solid #000;
 }

#main {
 position:absolute;
 top:70px;
 width:100%;
 }
#menu a, #menu p {
 display:block;
 margin: 0px;
 padding:4px;
 font-size:18px;
 border-top:1px black solid;
 text-decoration:none;
 }
#menu p {
 background-color:#6FA5FF;
 color:#FFF;
 }
#menu a{
 background-color:#FFF;
 color: #0099FF;
 }
#menu a:hover {
  background-color:#ccc;
  text-decoration:none;
 }

#news_author {
 padding:8px;
 color: #FFF;
 background:#6FA5FF;
 font-weight: bold;
 font: 8pt Verdana, Arial, Helvetica, sans-serif;
 text-align:left;
 margin:10px 40px 0px 40px;
 }
#news_title, #news_edit, #news_comment {
 color: #000;
 }
#news_content, #news_source {
 color: #0099FF;
 }

#news_content, #news_title, #news_comments, #news_edit {
 text-align:left;
 padding:10px;
 font: 8pt Verdana, Arial, Helvetica, sans-serif;
 background:#FFF;
 margin:0px 60px 0px 60px;
 }
#news_source {
 font: 8pt Verdana, Arial, Helvetica, sans-serif;
 text-align:right;
 position:absolute;
 }
#comments {
 text-align:center;
 width:80%;
 font: 8pt Verdana, Arial, Helvetica, sans-serif;
 margin:10px 40px 0px 40px;
 }
#comments_title {
 text-align:left;
 background-color:black;
 padding:8px;
 color: #FFF;
 }
#comments_content {
 text-align:left;
 width:60%
 padding:10px;
 color: #0099FF;
 }
